.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  height: 50vh;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  @media (max-width: 768px) {
    width: 320px;
  }
}
.question{
  justify-content: center;
  height: 350px;
}
.quiz-header {
  display: flex;
  justify-content: center;
  width: 100%;

}

.h1 {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}
.title{
  width: 300px;
}

.btn-play {
  color: #000000;
  border: 2px solid rgb(66, 58, 49);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #fffbd5;
  transition: ease-out 0.5s;
  &:hover {
    box-shadow: inset 0 0 0 50px #db395a;
  }
}

//Animations

.slide-in-bck-center {
  animation: slide-in-bck-center 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-bck-center {
  0% {
    transform: perspective(100px) translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.tracking-in-expand {
  animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.slide-in-elliptic-left-fwd {
  animation: slide-in-elliptic-left-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-elliptic-left-fwd {
  0% {
    transform: translateX(-800px) rotateY(30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
