<section #container class="quiz-container slide-in-bck-center">
  <ng-container *ngIf="!play">
    <header class="quiz-header">
     
      <img class="title" src="/assets/Trivia.gif" alt="App Title" />
    </header>
    <app-categories (selectOnChange)="checkCategorySelected($event)" />
    <footer class="quiz-footer">
      <button class="btn-play" (click)="startGame()">PLAY!</button>
    </footer>
  </ng-container>

  <ng-container *ngIf="play">
    <app-question
      [game]="this.game"
      [categorySelected]="this.categorySelected"
    />
  </ng-container>
</section>
