button {
  color: #000000;
  border: 2px solid rgb(66, 58, 49);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #7a6572;
  transition: ease-out 0.4s;
  &:hover {
    box-shadow: inset 0 0 0 50px #02cad8;
  }
}
