<section>
  <header class="question-header">
    <h3>{{ this.game.currentQuestion!.results[0].category }}</h3>
    <app-timer class="timer-component" (noTime)="noTime($event)"></app-timer>
  </header>

  <article>
    <p [innerHTML]="this.game.currentQuestion!.results[0].question"></p>
    <div class="answers">
      <button #answ *ngFor="let item of answers"
              class="answer"
              [innerHTML]="item"
              (click)="checkAnswer(answ)">

      </button>
    </div>
  </article>
</section>


