section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question-header {
  margin: 10px 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
}
.timer-component {
  position: absolute;
  top: 10px;
  left: 20px;
  @media (max-width: 768px) {
    top: -15px;
    left: 15px;
  }
}
article {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
}
.answers {
  display: grid;
  overflow-wrap: break-word;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.answer {
  padding: 16px 8px;
  border-radius: 20px;
  border: 0px;
  background-color: lightgray;
  max-width: 250px;
  cursor: pointer;
  &:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: gray;
  }
}
