<section>
  <header class="question-header">
    <h3>Nombre de la categoria</h3>
    <app-timer></app-timer>
  </header>

  <article>
    <p>QUESTION</p>
    <div class="answers">
      <button class="answer">Respuesta1Respuesta1Respuesta1Respuesta1Respuesta1Respuesta1Respuesta1</button>
      <button class="answer">Respuesta1</button>
      <button class="answer">Respuesta1</button>
      <button class="answer">Respuesta1</button>
    </div>
  </article>

  <button class="send-answer">COntestar</button>

</section>

<p>question works!
  {{ question.code}}
</p>


