section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
  background-color: aliceblue;
  padding: 16px;
  border-radius: 9px;
  box-shadow: 1px 1px 10px white;
  width: 600px;
  height: 50vh;
}

button{
  padding: 12px 8px;
  border: 0px;
  border-radius:  16px;
  background-color: rgba(199, 191, 191, 0.849);
  cursor: pointer;
  &:hover{
    transition: background-color .6s linear;
    background-color: rgb(202, 98, 95);;
  }
}
